.CommentsMainSection {
    background-color: var(--Navy-900);
    font-family: 'Open Sans', sans-serif;
}

.bgQuotes {
    margin-left: 50px;
}

.CommentsSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 360px) and (max-width: 430px) {   
    .bgQuotes {
        width: 30px;
    }
    
    .CommentsSection {
        gap: 30px;
        padding: 0 40px;
        flex-direction: column;
    }
}

@media (min-width: 525px) and (max-width: 820px) {
    .bgQuotes {
        width: 40px;
        margin-left: 100px;
    }
    
    .CommentsSection {
        gap: 30px;
        padding: 0 40px;
        flex-direction: column;
    }
}