.CommentsMainSection {
    background-color: var(--Navy-900);
    font-family: 'Open Sans', sans-serif;
}

.bgQuotes {
    margin-left: 50px;
}

.CommentsSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}