.servicesSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--White);
    justify-content: space-evenly;
}

.services {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.serviceTitle {
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.serviceDescription {
    max-width: 350px;
    font-size: 14px;
    padding-bottom: 40px;
    font-family: 'Open-Sans', sans-serif;
}


@media (min-width: 360px) and (max-width: 430px) {   
    .servicesSection {
        flex-direction: column;
    }

    .serviceDescription {
        max-width: 300px;
    }
}

@media (min-width: 525px) and (max-width: 800px) {
    .servicesSection {
        flex-direction: column;
        padding: 50px;
    }
}