.StayProductiveSection {
    padding: 150px 0;
    gap: 50px;
    display: flex;
    color: var(--White);
    align-items: center;
    justify-content: center;
}

.StayProductiveInfos {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.StayProductiveTitle {
    max-width: 255px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.AboutStayProductive {
    max-width: 450px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.BtnSeeHowFyloWorks {
    max-width: 150px;
    transition: 0.3s;
    font-size: 14px;
    color: var(--Teal-200);
    border-bottom: solid var(--Teal-200) 1px;
    font-family: 'Open Sans', sans-serif;
    background: url(../../assets/images/icon-arrow.svg)  no-repeat right center;

    &:hover {
        color: var(--White);
        border-bottom: solid var(--White) 1px;
        background:url(../../assets/images/icon-arrow-white.svg)  no-repeat right center;
    }
}

@media (min-width: 360px) and (max-width: 440px) {   
    .StayProductiveSection {
        flex-direction: column;
    }

    .illustrationStayProductive {
        max-width: 80%;
    }

    .StayProductiveInfos {
        padding: 0 25px;
    }

    .StayProductiveTitle {
        font-size: 18px;
        max-width: 400px;
        text-align: center;
    }
}

@media (min-width: 525px) and (max-width: 900px) {
    .StayProductiveSection {
        flex-direction: column;
    }

    .illustrationStayProductive {
        max-width: 80%;
    }

    .StayProductiveInfos {
        padding: 0 10px;
    }

    .StayProductiveTitle {
        font-size: 22px;
        max-width: 400px;
        text-align: center;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .StayProductiveSection {
        padding: 150px 50px;
    }
}