.commentCard {
    gap: 20px;
    display: flex;
    padding: 25px 30px;
    border-radius: 5px;
    color: var(--White);
    flex-direction: column;
    background-color: var(--Navy-800);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.userComment {
    font-size: 14px;
    max-width: 300px;
}

.userInfos {
    gap: 10px;
    display: flex;
    align-items: center;
}

.userProfileImg {
    width: 30px;
    border-radius: 50%;
}

.userName {
    font-size: 12px;
}

.userPosition {
    font-size: 8px;
}