.EmailForm {
    display: flex;
    gap: 20px;
}

.inputEmail {
    width: 450px;
    padding: 15px 30px;
    border-radius: 50px;
}

.errorMessage {
    font-size: 10px;
    padding: 0 30px;
    font-weight: 700;
    color: var(--Red-500);
}

.BtnGetStarted {
    height: 45px;
    font-size: 14px;
    padding: 0 30px;
    font-weight: 500;
    transition: 0.3s;
    color: var(--White);
    border-radius: 50px;
    transition: 0.3s ease-out;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to left, var(--Cyan-500), var(--Teal-200));

    &:hover {
        background: linear-gradient(to right, var(--Teal-200));
        font-weight: 700;
    }
}


@media (min-width: 360px) and (max-width: 430px) {   
    .EmailForm {
        flex-direction: column;
    }

    .inputEmail {
        margin-top: 10px;
        width: 250px;
    }
}

@media (min-width: 525px) and (max-width: 800px) {
    .EmailForm {
        flex-direction: column;
    }
    
    .inputEmail {
        max-width: 400px;
    }
}