.header {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Navy-850);
}

.nav {
    gap: 20px;
    display: flex;
    align-items: center;
}

.navOptions {
    transition: 0.3s;
    font-size: 1.4rem;
    color: var(--White);
    font-family: 'Raleway', sans-serif;

    &:hover {
        font-weight: 700;
        text-decoration: underline;
    }
}