.header {
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navOptions {
    font-size: 1.4rem;
    transition: 0.3s;
    color: var(--White);
    font-family: 'Raleway', sans-serif;

    &:hover {
        font-weight: 700;
        text-decoration: underline;
    }
}