@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: var(--Navy-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 0 0 8rem;
}

nav .menu {
    display: flex;
    align-items: center;
}

.menu li a {
    font-size: 1.4rem;
    padding: 0 3rem 0 0;
    color: var(--White);
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;

    &:hover {
        font-weight: 700;
        text-decoration: underline;
    }
}

.about-fylo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    color: var(--White);
}

.about-fylo .img-intro {
    max-width: 45%;
}

.about-fylo .fylo-title {
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
    max-width: 60rem;
    text-align: center;
}

.about-fylo .fylo-infos {
    font-size: 1.4rem;
    max-width: 45rem;
    text-align: center;
    padding-bottom: 2rem;
}

.about-fylo .btn-get-started {
    font-size: 1.4rem;
    padding: 1.5rem 7rem;
    max-width: 30rem;
    border-radius: 5rem;
    background-color: var(--Cyan-500);
    color: var(--White);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: var(--Teal-200);
        font-weight: 700;
    }
}

.fylo-services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.fylo-services .services {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--White);
}

.fylo-services .services .service-title {
    font-size: 2rem;
    padding: 2rem 0 0 0;
}

.fylo-services .services .service-description {
    font-size: 1.4rem;
    max-width: 70%;
    padding: 1rem 0 5rem 0;
}

.stay-productive {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.stay-productive .img-stay-productive {
    max-width: 40%;
}

.stay-productive .stay-productive-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    max-width: 50%;
    color: var(--White);
}

.stay-productive .stay-productive-title {
    font-size: 3rem;
    max-width: 50%;
}

.stay-productive .about-stay-productive {
    font-size: 1.4rem;
    max-width: 85%;
    padding: 1rem 0;
}

.stay-productive-infos .btn-how-fylo-works {
    max-width: 15rem;
    font-size: 1.4rem;
    border-bottom: solid transparent 1px;
    color: var(--Teal-200);
    transition: 0.3s;
    background: url(../images/icon-arrow.svg) no-repeat right center;

    &:hover {
        color: var(--White);
        border-bottom: solid var(--White) 1px;
        background: url(../images/icon-arrow-white.svg) no-repeat right center;
    }
}

.user-reviews {
    display: flex;
    margin: 0 7rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 3.5rem;
    color: var(--White);
    background: url(../images/bg-quotes.png) no-repeat left top;
}

.user-reviews .review {
    background-color: var(--Navy-800);
    max-width: 30%;
    font-size: 1.4rem;
    padding: 2rem;
    box-shadow: 1.5rem 1rem var(--Navy-850);
    font-family: 'Open Sans', sans-serif;
}

.review .user-infos {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .user-infos .user-profile-img {
    border-radius: 50%;
    max-width: 2rem;
}

.review .user-infos .user-name {
    font-size: 1.2rem;
    padding-left: 1rem;
}

.user-infos .user-ocupation {
    font-size: 1rem;
    padding-left: 1rem;
}

.get-access {
    display: flex;
    padding: 4rem 0 0 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.container-get-access {
    max-width: 900px;
    padding: 4rem;
    display: flex;
    border-radius: 5px;
    color: var(--White);
    align-items: center;
    margin-bottom: -115px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Navy-850);
    box-shadow: 0.5rem 0.5rem var(--Navy-950);
}

.get-access-title {
    font-size: 3rem;
}

.get-access-infos {
    max-width: 70%;
    font-size: 1.4rem;
    text-align: center;
}

.submit-email .user-email {
    width: 40rem;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 5rem;
}

.submit-email .btn-submit-started {
    font-size: 1.4rem;
    padding: 1.5rem 4rem;
    max-width: 25rem;
    border-radius: 5rem;
    background-color: var(--Cyan-500);
    color: var(--White);
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;

    &:hover {
        background-color: var(--Teal-200);
        font-weight: 700;
    }
}

.footer {
    background-color: var(--Navy-950);
    padding: 20rem 10rem 5rem 7rem;
    color: var(--White);
    font-size: 1.2rem;
}

.footer-infos {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    padding: 5rem 0;
}

.footer-infos .location ul {
    display: flex;
    width: 40rem;
}

.footer-infos .location ul li .logo-location {
    margin: 0.4rem 2.5rem 0 0;
}

.footer-infos .contact p {
    margin: 0.5rem 2rem;
}

.footer-infos .contact .phone {
    display: flex;
    align-items: center;
}

.footer-infos .contact .email {
    display: flex;
    align-items: center;
}

.footer table tr td {
    transition: 0.3s;
    padding: 0.5rem 1rem;
    font-family: 'Raleway', open-sans;

    &:hover {
        font-weight: 700;
    }
}

.footer-infos .social ul {
    display: flex;
}

.fa-brands {   
    width: 3rem;
    height: 3rem;  
    margin: 1rem;
    display: flex;
    transition: 0.3s;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--White);
}

.fa-brands:hover {
    cursor: pointer;
    color: var(--Teal-200);
    border-color: var(--teal-200);
}

.final-credits {
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.final-credits a {
    text-decoration: none;
    color: var(--Cyan-500);

    &:hover {
        transition: 0.2s ease;
        text-decoration: underline var(--White);
        color: white;
    }
}